My workflow 3 (1).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        16
      ],
      "id": "2026d1e1-7906-4ddb-9b01-4f301414bb7d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:/Data/inbox/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -624,
        16
      ],
      "id": "36ccd47e-e9c5-4306-8b30-e738ebe56739",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {
          "reset": false,
          "batchSize": 1
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        16
      ],
      "id": "bd4ac4c6-2b6f-4eb0-a9b9-5bc9e40841f9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const binKey = Object.keys(items[0].binary || {})[0] || 'data';\nreturn items.map(item => {\n  const f = item.binary[binKey];\n  item.json.inbox_name = f.fileName;                            // e.g. \"Residence permit Natalia BO card.pdf\"\n  item.json.inbox_path = `C:\\\\Data\\\\inbox\\\\${f.fileName}`;       // полный путь (Windows)\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -80
      ],
      "id": "6eaac815-48a2-41a9-bfec-c5c384ee34d7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8081/lang",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -80
      ],
      "id": "e3c2485f-8a1f-4ad0-9063-b82e28c3cab5",
      "name": "Lang"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8081/extract-text-by-path",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_path",
              "value": "={{$json.inbox_path}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -80
      ],
      "id": "5a84e39e-b66d-460e-97bf-30c22bd363f0",
      "name": "Text"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8081/folder-endpoints",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        -80
      ],
      "id": "5a63a32c-0c07-4deb-8e8a-1a2a30bcad8d",
      "name": "Folder Endpoints"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Ты маршрутизатор документов.\nFOLDER_ENDPOINTS:\n{{ JSON.stringify($('Folder Endpoints').item.json.folder_endpoints, null, 2) }}\nTEXT:\n---\n{{ $('Text').item.json.text }}\n---\nМета:\n- Страницы: {{ $('Text').item.json.pages }}\n- Язык: {{ $('Lang').item.json.detected_lang }} (prob={{ $('Lang').item.json.prob }})\n\nОТВЕТ:\nВерни строго JSON без пояснений и лишних полей:\n{\"matched\":bool,\"selected_path\":string|null,\"confidence\":0..1,\"reason\":string,\"needs_new_folder\":bool,\"suggested_path\":string|null}\nselected_path и suggested_path — относительные пути без ведущего слэша, разделитель '/'.\nЕсли matched=false, обязательно needs_new_folder=true и предложи осмысленный suggested_path.\nЕсли matched=true, needs_new_folder=false и укажи selected_path.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -80
      ],
      "id": "2b0601d4-f554-44f3-b304-ddfac9095453",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        528,
        176
      ],
      "id": "7541278a-8ce7-4eb5-88c7-fab439137422",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "VddzAlbgBaLnDjLZ",
          "name": "OpenRouter account"
        }
      },
      "notes": "Ты маршрутизатор документов. У тебя есть полное дерево папок (вложенная структура). По TEXT выбери лучшее место в дереве (конечную папку любого уровня) ИЛИ предложи новый путь. Верни СТРОГО JSON: {\\\"matched\\\":bool,\\\"selected_path\\\":string|null,\\\"confidence\\\":0..1,\\\"reason\\\":string,\\\"needs_new_folder\\\":bool,\\\"suggested_path\\\":string|null}. selected_path и suggested_path должны быть относительными путями с '/' как в дереве. Если подходящей папки нет — matched=false, needs_new_folder=true и предложи suggested_path (полный путь category/subcategory/issuer/person если можешь; но допускается и иной глубины, если логично). Никакого текста вне JSON."
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matched\": {\n      \"type\": \"boolean\"\n    },\n    \"selected_path\": {\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n    \"reason\": {\n      \"type\": \"string\"\n    },\n    \"needs_new_folder\": {\n      \"type\": \"boolean\"\n    },\n    \"suggested_path\": {\n      \"type\": [\n        \"string\",\n        \"null\"\n      ]\n    }\n  },\n  \"required\": [\n    \"matched\",\n    \"selected_path\",\n    \"confidence\",\n    \"reason\",\n    \"needs_new_folder\",\n    \"suggested_path\"\n  ],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        160
      ],
      "id": "b8359076-0f27-4c68-9571-b6b8d5f13837",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "168b5f0e-f8d1-4d49-ad7f-94e532d87b2f",
              "leftValue": "={{ $json.output.needs_new_folder }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -96
      ],
      "id": "cc0a93c7-e6ac-403e-a452-6cfcbacc406b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8081/fs-move",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "src_path",
              "value": "={{ $('Code in JavaScript').item.json.inbox_path }}"
            },
            {
              "name": "dest_dir",
              "value": "={{ $json.dest_dir || ('C:/Data/archive/' + ($('AI Agent').item.json.output.selected_path || $('AI Agent').item.json.output.suggested_path || '').replace(/^=+/, '').trim()) }}"
            },
            {
              "name": "dest_name",
              "value": "={{ $('Code in JavaScript').item.json.inbox_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        128
      ],
      "id": "63cfff58-e416-4d0b-bbf0-953a872dcf53",
      "name": "Перемещаем файл при готовой папке"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8081/fs-mkdir",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rel_path",
              "value": "={{ ($('AI Agent').item.json.output.suggested_path || '').replace(/^=+/, '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -112
      ],
      "id": "fe730eea-a02e-4272-8cd4-a9a74fb1db47",
      "name": "Делаем новую папку"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lang": {
      "main": [
        [
          {
            "node": "Folder Endpoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Делаем новую папку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Перемещаем файл при готовой папке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Делаем новую папку": {
      "main": [
        [
          {
            "node": "Перемещаем файл при готовой папке",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Endpoints": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перемещаем файл при готовой папке": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47442540-50fe-4079-a8de-800152f5bfc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6cd106bc0d1d0ce53ba15fc43af31fb4b6982dafc498abdbf7532e923e9d8e3"
  },
  "id": "4Mw6c8EYEJXVuJLv",
  "tags": []
}
